:root{
    --bg-a: #22262c;
    --bg-b: #f4f4f4;
    --bg-c: #fff2d8;

    --bg-active: #FFAB00;
    --bg-barhover: #111;

    --text-a: #000;
    --text-b: #fff;

    --border-a: #434b57;

    --red: #ff5555;

    /*tiempos de animaciones*/
    --title-hi: 0.5s;
    --title-muf: 0.5s;
    --res-hi: 1s;
    --content: 0.5s;

    /*font-family: Arial;*/
    font-family: 'Inter', sans-serif;
} 

body{
    background: var(--bg-b);
    margin: 0;
}

a{
    text-decoration: none;
}

